a:link, a:visited {
    color:#00b;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.clearfix {
    zoom:1;
}
.clearfix:after {
    clear:both;
    content:'';
    display:block;
}
#hd, #ft {
    margin-bottom:10px;
}
/* .announce-module, .guide-module (start) {{{ */
.guide-module {
    position:relative;
    _height:20em;
    min-height:20em;
}
.guide-module .mod-content {
    margin-right:19em;
}
#anc,
.guide-module .guide {
    background:#f5f5f5;
    border:solid 1px #dcdcdc;
    line-height:1.4;
    position:absolute;
    right:0;
    top:0;
    width:18em;
}
#anc {
    background:#e8f0f9;
    border:solid 1px #dcdcdc;
}
#anc .mod-content .hd,
.guide-module .mod-content .guide .shd {
    background:#eee;
    border-bottom:solid 1px #dcdcdc;
}
#anc .mod-content .hd {
    background:#dae7f5;
}
#anc .mod-content .hd,
.guide-module .mod-content .guide .shd {
    padding:10px;
}
#anc .mod-content .hd h2,
.guide-module .mod-content .guide .shd h2 {
    font-size:123.1%;
    font-weight:bold;
    height:23px;
    letter-spacing:1px;
    position:relative;
    overflow:hidden;
    width:93px;
}
#anc .mod-content .hd h2 span,
.guide-module .mod-content .guide .shd h2 span {
    background:url(title_guide.gif) left top no-repeat;
    position:absolute;
    top:0;
    left:0;
    width:93px;
    height:23px;
}
#anc .mod-content .hd h2 span {
    background:url(title_anc.gif) left top no-repeat;
}
#anc .mod-content .bd,
.guide-module .mod-content .guide .sbd {
    padding:20px 20px 20px 10px;
}
#anc .mod-content .bd ul,
.guide-module .mod-content .guide .sbd ul {
    margin-bottom:-10px;
}
#anc .mod-content .bd ul li,
.guide-module .mod-content .guide .sbd ul li {
    background:url(li_dot.gif) left 5px no-repeat;
    font-size:123.1%;
    margin:0 0 10px 0;
    padding-left:15px;
}
/* .guide-module (end) }}} */
/* .title-module (start) {{{ */
.title-module .hd {
    background:#f2f2f2 url(bg_title.gif) left top repeat-x;
    border-bottom:solid 1px #ccc;
    padding:20px 20px 10px;
    margin-bottom:25px;
}
.title-module .hd {
    zoom:1;
}
.title-module .hd:after {
    content:'';
    clear:both;
    display:block;
}
.title-module .hd h1 {
    color:#9f4003;
    float:left;
    font-family:SimHei;
    font-size:233%;
    margin-right:10px;
    overflow:hidden;
    position:relative;
}
.title-module .hd h1 span {
    background-repeat:no-repeat;
    display:block;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}
.title-module .hd em {
    color:#999;
    float:left;
    font-size:123.1%;
    margin-top:14px;
    margin-left:8px;
}
.title-module .bd,
.title-module .ft {
    margin:0 25px 0;
}
.title-module .warn {
    background:#ffc;
    border:solid 1px #ff9901;
    margin-bottom:20px;
    padding:10px 10px 0;
}
.title-module .warn li {
    background:url(ico_warn.gif) left center no-repeat;
    font-size:123.1%;
    padding-left:18px;
    margin-bottom:10px;
}
/* .title-module (end) }}} */
/* .form-module (start) {{{ */
.form-module input[type=text],
.form-module input[type=password] {
    border:1px solid #809DB9;
    padding:3px;
    width:42em;
}
.form-module .row {
    zoom:1;
    margin-bottom:30px;
}
.form-module .last {
    padding-left:6.5em;
}
.form-module .last a {
    margin-left:10px;
    font-size:93%;
}
.form-module .row:after {
    clear:both;
    content:'';
    display:block;
}
.form-module .cell * {
    vertical-align:middle;
}
.form-module .cell {
    float:left;
}
.form-module form .row .title {
    *margin-top:2px;
    width:6.5em;
}
.form-module form .row .title {
    color:#fe7501;
    font-size:123.1%;
    font-weight:bold;
    text-align:right;
    white-space:nowrap;
}
.form-module form .row .content .info * {
    vertical-align:baseline;
}
.form-module form .row .content .info {
    color:#999;
    display:block;
    font-family:Verdana;
    font-size:93%;
    margin:6px 0 0 -5px;
}
.form-module form .row .content .text,
.form-module form .row .content label {
    font-size:123.1%;
}
/* .form-module (end) }}} */
/* .img-txt-list-module (start) {{{ */
.img-txt-list-module .empty {
    border-bottom:dashed 1px #6c6c6c;
    font-size:123.1%;
    padding:60px 0 80px;
    text-align:center;
}
.img-txt-list-module li.site-list-item {
    border-bottom:dashed 1px #6c6c6c;
}
.img-txt-list-module li.even {
    background:#f7f7f7;
}
.img-txt-list-module li.site-list-item {
    zoom:1;
    padding:20px 25px;
}
.img-txt-list-module li.site-list-item:after {
    clear:both;
    content:'';
    display:block;
}
.img-txt-list-module li.site-list-item .img {
    float:left;
}
.img-txt-list-module li.site-list-item .txt {
    display:table;
    padding-left:10px;
}
/* .img-txt-list-module (end) }}} */
/* .message-module (start) {{{ */
.message-module .bd p {
    line-height:1.5;
    font-size:123.1%;
}
.message-module .bd em, 
.message-module .bd strong {
    color:#fe7501;
    font-weight:bold;
}
.message-module .bd strong {
    display:block;
    font-size:197%;
    margin:25px 0 50px;
    text-align:center;
}
/* .message-module (end) }}} */
/* #bl  : /inc/badge_list.php (start) {{{ */
#bl .hd ul {
    float:left;
}
#bl .hd ul li {
    text-align:left;
}
#bl .hd ul li * {
    vertical-align:middle;
}
#bl .hd ul li .site-name {
    font-size:123.1%; 
}
#bl .hd ul li .site-name:link,
#bl .hd ul li .site-name:visited {
    color:#00b;
}
#bl .hd ul li .url {
    color:#008000;
    display:block;
    font-family:Verdana;
    font-size:93%;
    margin-top:3px;
}
#bl .hd ul li .yui-menu-button {
    background:url(btn_expand.gif) left top no-repeat;
    display:inline-block;
    height:16px;
    overflow:hidden;
    width:22px;
}
#bl .hd ul li .yui-menu-button button {
    background:transparent;
    display:block;
    padding-left:50px;
}
#bl .hd ul li .yui-menu-button-active,
#bl .hd ul li .yui-menu-button-hover {
    background:url(btn_shrink.gif) left top no-repeat;
}
#bl .hd ul li .yui-button-menu {
    background:#000;
    border:solid 1px #ccc;
    padding:10px;
    opacity:0.7;
}
#bl .hd ul li .yui-button-menu .hd {
    background:transparent;
    border-bottom:none;
    color:#fff;
    font-weight:bold;
    font-size:93%;
    padding:0;
    margin-bottom:10px;
}
#bl .hd ul li .yui-button-menu .bd,
#bl .hd ul li .yui-button-menu .ft {
    margin:0;
}
#bl .hd ul li .yui-button-menu .yuimenuitem {
    color:#fff;
    list-style-type:disc;
    margin-bottom:10px; 
    margin-left:15px;
}
#bl .hd ul li .yui-button-menu .yuimenuitemlabel:link,
#bl .hd ul li .yui-button-menu .yuimenuitemlabel:visited {
    color:#fff;
    font-size:93%;
    text-decoration:none; 
}
#bl .hd ul li .yui-button-menu .yuimenuitemlabel:hover {
   color:#ff0;
}
#bl .hd ul li .yui-button-menu .yuimenuitem-disabled {
    color:#ccc;
}
#bl .hd ul li .yui-button-menu .yuimenuitemlabel-disabled:link, 
#bl .hd ul li .yui-button-menu .yuimenuitemlabel-disabled:visited {
    color:#ccc;
    cursor:default;
}


.yui-carousel {width:695px;position:relative;}
.yui-carousel-nav ul {display:none;}
.yui-carousel-button  {
    position:absolute;
    right:5px;
    top:40px;
}
.yui-carousel-first-button  {
    left:5px;
    right:auto;
}
.yui-carousel .yui-carousel-item-selected {
    border:none;
    outline:0;
}
.yui-carousel-element li {
    border:none;
    padding:8px;
}
#foo {
    background:#fbf8ea;
    border:solid 1px #cdcdcc;
    padding:0 50px;
}
.yui-carousel li a:link,
.yui-carousel li a:visited {
    color:#427fab;
    text-decoration:none;
} 
.yui-carousel span.yui-carousel-first-button {
    background-position:0 -550px;
}
.yui-carousel .yui-carousel-button {
    background:transparent url(http://yui.yahooapis.com/2.6.0/build/assets/skins/sam/sprite.png) no-repeat scroll 0 -600px;
    height:19px;
    overflow:hidden;
    width:40px;
}
.yui-carousel .yui-carousel-button input {
    background-color:transparent;
    border:0 none;
    cursor:pointer;
    display:block;
    height:44px;
    margin:-2px 0 0 -2px;
    padding:0 0 0 50px;
}
.yui-carousel span.yui-carousel-first-button-disabled {
    background-position:0 -1950px;
}
.yui-carousel .yui-carousel-button-disabled {
    background-position:0 -2000px;
}
#bl ol li {
    float:left;
}
#bl ol li .img {
    border:solid 1px #cdcdcc;
    height:54px;
    margin:2px 2px 5px 2px;
    overflow:hidden;
    width:71px;
}
#bl.yui-carousel .yui-carousel-item-selected .img {
    border:solid 3px #7f9db9;
    margin:0 0 3px 0;
}
#bl.yui-carousel .yui-carousel-item-selected .img img {
    display:block;
}
#bl.yui-carousel .yui-carousel-item-selected .txt a {
    font-weight:bold;
}
#bl ol li .txt {
    font-size:93%;
}
/* #bl : /inc/badge_list.php (end) }}} */
/* #ce  : /inc/change_email.php (start) {{{ */
#ce .hd h1 {
    width:141px;
    height:34px;
}
#ce .hd h1 span {
    background-image:url(title_ce.gif);
}
/* #ce  : /inc/change_email.php (end) }}} */
/* #cp  : /inc/change_password.php (start) {{{ */
#cp .hd h1 {
    width:142px;
    height:33px;
}
#cp .hd h1 span {
    background-image:url(title_cp.gif);
}
/* #cp  : /inc/change_password.php (end) }}} */
/* #csf : /inc/create_site_form.php (start) {{{ */
#csf .hd h1 {
    width:142px;
    height:34px;
}
#csf .hd h1 span {
    background-image:url(title_csf.gif);
}
/* #csf  : /inc/create_site_form.php (end) }}} */
/* #ev  : /inc/email_verify.php (start) {{{ */
#ev .hd h1 {
    width:143px;
    height:33px;
}
#ev .hd h1 span {
    background-image:url(title_ev.gif);
}
/* #ev  : /inc/email_verify.php (end) }}} */
/* #lf  : /inc/login_form.php (start) {{{ */
#lf .hd h1 {
    width:142px;
    height:34px;
}
#lf .hd h1 span {
    background-image:url(title_lf.gif);
}
/* #lf  : /inc/login_form.php (end) }}} */
/* #fp  : /inc/forget_password.php (start) {{{ */
#fp .hd h1 {
    width:142px;
    height:33px;
}
#fp .hd h1 span {
    background-image:url(title_fp.gif);
}
/* #fp  : /inc/forget_password.php (end) }}} */
/* #mb  : /inc/member.php (start) {{{ */
#mb .hd h1 {
    width:142px;
    height:34px;
}
#mb .hd h1 span {
    background-image:url(title_mb.gif);
}
/* #mb  : /inc/member.php (end) }}} */
/* #mf  : /inc/mastfoot.php (start) {{{ */
#mf {
    background:#000;
}
#mf {margin-bottom:10px;position:relative;}
#mf .x1, #mf .x2, #mf .x1a, #mf .x2a {background:#fff url(rc.gif) no-repeat;display:block;font-size:0;}
#mf .x1, #mf .x2 {position:absolute;width:100%;z-index:1;}
#mf .x1 {background-position:100% 0;left:0;top:0;}
#mf .x2 {background-position:100% 100%;left:0;bottom:0;}
#mf .x1a, #mf .x2a {width:2px;height:2px;}
#mf .x2a {background-position:0 100%;}
#mf .mod-content {background:transparent;position:relative;z-index:2;}
#mf .bd {
    padding:10px 15px 12px;
}
#mf .bd ul {
    float:left;
}
#mf .bd ul li * {
    vertical-align:middle;
}
#mf .bd ul li {
    float:left;
    *border-right:solid 1px #fff;
    *margin-right:10px;
    *padding-right:10px
}
#mf .bd ul li.last-child {
    *margin:0;
    *padding:0;
    *border:none;
}
#mf .bd ul li:after {
    color:#fff;
    content:'|';
    margin:0 13px 0 8px;
}
#mf .bd ul li:last-child:after {
    content:'';
}
#mf .bd ul li a:link,
#mf .bd ul li a:visited {
    color:#fff;
    font-family:Verdana;
    font-size:93%;
}
#mf .bd span {
    float:right;
    font-size:93%;
    font-family:Verdana;
    color:#ccc;
}
/* #mf (end) }}} */
/* #mh  : /inc/masthead.php (start) {{{ */
#mh {
    background:#000;
    border-bottom:solid 1px #fff;
    padding:0 10px;
}
#mh .logo {
    float:left;
    padding:0 12px 15px 15px;
}
#mh .user {
    color:#ccc;
    float:left;
    font-size:93%;
    margin:30px 10px 0;
}
#mh a:link, 
#mh a:visited {
    color:#fff;
}
#mh .user .greeting,
#mh .user .links {
    display:block;
}
#mh .user .links {
    margin-top:5px;
}
#mh .user .links a {
    margin:0 2px;
}
#mh .function {
    float:right;
    margin-top:10px;
}
#mh .function .language {
    float:right;    
}
#mh .function .language li {
    float:left;
}
#mh .function .language li a {
    font-size:93%;
    font-family:Verdana;
}
#mh .function .language li a.on {
    color:#f90;
}
#mh .function .language li:after {
    color:#999;
    content:'|';
    margin:0 10px 0 5px;
}
#mh .function .language li:last-child:after {
    content:'';
    margin:0;
}

#mh .function .search {
    float:right;
    margin-top:10px;
    padding:8px 0 8px;
}
#mh .function .search * {
    vertical-align:middle;
}
#mh .function .search form {
    position:relative;
}
#mh .function .search form * {
    *vertical-align:auto;
}
#mh .function .search form label {
    display:none;
}
#mh .function .search form img {
    left:0.5em;
    position:absolute;
    top:0.4em;
    *left:0.5em;
    *top:0.4em;
}
#mh .function .search form #p {
    border:solid 2px #dedede;
    font-size:93%;
    margin-right:1px;
    padding:0.3em 0 0.2em;
    padding-left:1.9em;
    width:14.5em;
}

#mh .suggest {z-index:100;position:absolute;text-align:right;zoom:1;}
#mh .suggest em {background:none;padding:0;display:inline;}
#mh .suggest span {float:none;font-size:93%;}
#mh .suggest .yui-ac-hd h3,.yui-ac-ft h3 {text-align:center;padding:5px 5px 0;background:url(sep_suggest.gif) left center repeat-x;margin:0 8px;}
#mh .suggest .yui-ac-hd h3 span,.yui-ac-ft h3 span {letter-spacing:1px;background:#fff;padding:0 10px;}
#mh .suggest .yui-ac-content {zoom:1;border:solid 1px #faa123;text-align:left;background:#fff;color:#717171;overflow:hidden;}
#mh .suggest .yui-ac-content ul {margin:0 5px 5px;}
#mh .suggest .yui-ac-content li a {display:block;color:#000;font:normal 93% Arial;margin:2px 0;padding:3px;letter-spacing:1px;cursor:pointer;text-decoration:none;}
#mh .suggest .yui-ac-content li a:hover {background:#ffffcd;}
#mh .suggest .yui-ac-content li em {color:#fe8946;display:inline;background:transparent;}
#mh .suggest .yui-ac-highlight {background:#ffffcd;}
#mh .suggest .yui-ac-ft div {margin:0 10px 5px;}
#mh .suggest .yui-ac-ft ul {margin:0;}
#mh .suggest .yui-ac-ft div h4 {color:#d64c0d;font-size:93%;}
/* #mh (end) }}} */
/* #msl : /inc/my_site_list.php (start) {{{ */
#msl .hd h1 {
    width:141px;
    height:34px;
}
#msl .hd h1 span {
    background-image:url(title_msl.gif);
}
#msl .bd .function li {
    float:left;
    margin-right:10px;
}
#msl h2 {
    margin-bottom:5px;
}
#msl h2 a {
    font-size:123.1%;
}
#msl p {
    font-size:93%;
    margin-bottom:5px;
}
#msl .url {
    color:#080;
    font-size:93%;
    font-family:Verdana;
    margin-bottom:8px;
}
#msl .bd .function li a {
    color:#fe7501;
    font-size:93%;
    padding-left:20px;
}
#msl .bd .function li {
    background-position:left center;
    background-repeat:no-repeat;
}
#msl .bd .function li.report {
    background-image:url(ico_report.gif);
}
#msl .bd .function li.widget {
    background-image:url(ico_plugin.gif);
}
#msl .bd .function li.setup {
    background-image:url(ico_setup.gif);
}
#msl .bd .function li.remove {
    background-image:url(ico_remove.gif);
}
#msl .ft span {
    float:right;
}
#msl .ft .function {
    font-size:123.1%;
    margin:10px 0;
}
#msl .ft .function {
    background:url(ico_plus.gif) left bottom no-repeat;
}
#msl .ft .function a {
    padding-left:23px;
}
/* #msl (end) }}} */
/* #nav : /inc/navigation.php (start) {{{ */
#nav {
    background:url(bg_nav.gif) #fca205 left bottom repeat-x;
}
#nav .bd {
    padding-left:25px;
}
#nav .bd ul li {
    float:left;
}
#nav .bd ul li a.yuimenubaritemlabel:link, #nav .bd ul li a.yuimenubaritemlabel:visited {
    color:#fff;
}
#nav .bd ul li a.yuimenubaritemlabel {
    font-size:174%;
    font-weight:bold;
    display:block;
    margin:9px 10px 0;
    padding:10px 0 14px;
}
#nav .bd ul li.yuimenubaritem a.on {
    background:#f0eee8;
}
#nav .bd ul li .yuimenubaritemlabel {
    color:#000;
    height:22px;
    overflow:hidden;
    position:relative;
    text-align:center;
    width:80px;
}
#nav .bd ul li .yuimenubaritemlabel span {
    background:url(nav_hp.gif) no-repeat;
    left:0;
    height:46px;
    overflow:hidden;
    position:absolute;
    top:0;
    width:80px;
}
#nav .bd ul li.demo .yuimenubaritemlabel span {
    background-image:url(nav_demo.gif);
}
#nav .bd ul li.tutorial .yuimenubaritemlabel span {
    background-image:url(nav_tutorial.gif);
}
#nav .bd ul li.my .yuimenubaritemlabel span {
    background-image:url(nav_my.gif);
}
#nav .bd ul li .yuimenubaritemlabel:hover {
    color:#000 !important;
    text-decoration:none;
}
#nav .bd ul li.index .yuimenubaritemlabel:hover span {
    background-image:url(nav_hp_hover.gif);
}
#nav .bd ul li.demo .yuimenubaritemlabel:hover span {
    background-image:url(nav_demo_hover.gif);
}
#nav .bd ul li.tutorial .yuimenubaritemlabel:hover span {
    background-image:url(nav_tutorial_hover.gif);
}
#nav .bd ul li.my .yuimenubaritemlabel:hover span {
    background-image:url(nav_my_hover.gif);
}
#nav .bd ul li.index a.on span {
    background-image:url(nav_hp_selected.gif) !important;
}
#nav .bd ul li.demo a.on span {
    background-image:url(nav_demo_selected.gif);
}
#nav .bd ul li.tutorial a.on span {
    background-image:url(nav_tutorial_selected.gif);
}
#nav .bd ul li.my a.on span {
    background-image:url(nav_my_selected.gif);
}
/* #nav (end) }}} */
/* #rf  : /inc/register_form.php (start) {{{ */
#rf .hd h1 {
    height:33px;
    width:69px;
}
#rf .hd h1 span {
    background-image:url(title_register.gif);
}
/* #rf (end) }}} */
/* #rc  : /inc/register_confirmed.php (start) {{{ */
#rc .hd h1 {
    height:33px;
    width:69px;
}
#rc .hd h1 span {
    background-image:url(title_register.gif);
}
#rc .bd .title {
    width:5.2em;
    margin-right:5px;
}
#rc .bd form #user_id {
    width:22.5em;
}
#rc .bd form #user_password,
#rc .bd form #user_password_confirm {
    width:18em;
}
/* #rc (end) }}} */
/* #hp  : /inc/hp_promo.php (start) {{{ */
#hp {
    background:#ececec url(bg_promo.gif) left top repeat-x;
    border-bottom:solid 1px #ccc;
    margin-bottom:10px;
}
#hp .mod-content {
    background:url(ico_summary.gif) 94% 90% no-repeat;
}
#hp .bd {
    margin:10px 175px 20px 30px;
}
#hp .bd em {
    display:block;
    font-family:SimHei;
    font-size:200%;
    margin-bottom:10px;
}
#hp .bd strong {
    color:#f90;
    display:block;
    font-family:SimHei;
    font-size:370%;
    font-weight:bold;
    margin-bottom:10px;
} 
#hp .bd p {
    color:#666;
    font-size:123.1%;
    line-height:1.5;
    margin-right:20px;
}
/* #hp (end) }}} */
/* #hr  : /inc/hp_register.php (start) {{{ */
#hr .mod-content {
    background:#000; 
}
/* #hr  (end) }}} */
/* (start) {{{ */
/* (end) }}} */
/* (start) {{{ */
/* (end) }}} */

